<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiNews">

        <!-- Marks the app as a Smartspacer plugin -->
        <meta-data
            android:name="smartspacer_plugin"
            android:value="true" />

        <activity
            android:name=".ui.NewsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AiNews.Dialog" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".providers.NewsTargetProvider"
            android:authorities="${applicationId}.target.news"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.SMARTSPACER_TARGET" />
            </intent-filter>
        </provider>

    </application>
</manifest>
